p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
}

h1 {
    font-family: 'playfair-display', bold;
    font-size: 62px;
}

h2 {
    font-family: 'playfair-display';
    font-size: 38px;
}

a {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-decoration-line: underline;
}

.ftr-main-image {
    display: flex;
    justify-content: center;

    max-width: 100%;
    height: auto;
}

#headerLine {
    display: flex;
    justify-content: space-evenly;
}

#galleryReturn {
    display: flex;
    justify-content: center;
}

#ftr-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}